
h2{
  text-align: center;
  color: navy;
}

th{
  text-align: center;
  color: navy;
}
ul{
  color: navy;  
}
 h1 {
    text-align: center;
    font-size: 50px;
    font-family: Lobster;
    color: navy;
  }
    p {
      font-family: Pacifico, cursive;
      color: navy;
      font-size: 16px;
    }

td {
  vertical-align: top; 
}